body {
  font-family: "Inter", sans-serif;
}

.btn-3d {
  background-color: #1e293b;
  border: 1px solid #334155;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 4px #0f172a;
}

.btn-3d:hover {
  background-color: #334155;
}

.btn-3d:active {
  transform: translateY(2px);
  box-shadow: 0 2px #0f172a;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* custom progress bar buat video player */
#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  height: 6px;
}
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #22d3ee;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
}
#progress-bar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #22d3ee;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
}
